:root{
    background-color: aliceblue;
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #333;
}

h1, h2, h3, h4{
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 5 rem;
    color: #55a5eb;
}

/*utilities*/

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 5rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center {
    text-align: center;
}

.flex-end{
    justify-items: right;
}
.hidden {
    display: none;
}

/*buttons*/
.nxt-btn {
padding-top: 3rem;
}

.btn {
    font-size: 3.5rem;
    padding: 1rem 0;
    width: 15rem;
    text-align: center;
    border: 0.1rem solid #55a5eb;
    border-radius: 4rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #55a5eb;
    background-color: navajowhite;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.2rem);
    transition: ease-out;
}

.btn[disabled]:hover {
cursor: not-allowed;
box-shadow: none;
transform: none;
}

#next-button {
    text-decoration: none;
    margin: 0;
}

.vw-btn {
    text-decoration: none;
   
}

#view-button {
    font-size: 2rem;
    font-weight: bolder;
}